# Ignore Mac Finder file
.DS_Store

# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore Sass
# Ignore generated styles.css
source/stylesheets/styles.css
*.sass-cache

*.gem
*.rbc
.bundle
.config
