<header class="site-header nav-container">
  <div class="nav-wrapper grid-container">
    <div class="grid-row">

      <div class="header-logo grid-span4">
        Logo
      </div>
      <div class="header-nav grid-span8">
        <%= partial 'navigation' %>
      </div>

    </div>
  </div>
</header>