---
title: Hello World
---

<div class="grid-container">
  <div class="grid-row">
    <div class="grid-span12">

      <h1>Hello World</h1>

      <div class="grid-row">
        <div class="grid-span5">
          <%= image_tag 'placeholder.png' %>
        </div>
        <div class="grid-span7">
          Column 2
        </div>
      </div><!--/.grid-row-->

    </div>
  </div>
</div><!--/.grid-container-->